<div class="login-form">
  <div class="title">Reset Password</div>
  <%= form_with url: "/password/reset_password", method: :post do |f| %>
    <% if @user.errors.any? %>
      <div id="errorExplanation">
        <h2><%= pluralize(@user.errors.count, "error") %> <br> prohibited from being saved:</h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
        </ul>
      </div>
    <% end %>
    <div class="input-boxes">    
      <div class="input-box" >
        <%= f.password_field :password, placeholder: "Enter password" %>
      </div>
    </div>
    <div class="input-boxes">    
      <div class="input-box" >
        <%= f.password_field :password_confirmation, placeholder: "Confirm password" %>
      </div>
    </div>
    <div class="button input-box">         
      <div class="button input-box" >
        <%= f.submit  "Reset Password" %>
      </div>
    </div>  
  </div>
  <% end %>