<div class="login-form">
<div class="title">Edit Profile</div>
  <%= form_with url: "/profile/edit_profile", method: :post do |f| %>
    
    <div class="input-boxes"> 

      <div class="field">
        <%= f.label :header_image %>
        <%= f.file_field :header_image %>
      </div>   
      <div class="input-box" >
        <%= f.text_field :first_name,placeholder: "First name",:value=>@user.first_name  %>
      </div>
            
      <div class="input-box" >
        <%= f.text_field :last_name, placeholder: "Last name",:value=>@user.last_name  %>
      </div>

      <div class="input-box" >
        <%= f.number_field :mobile_no, placeholder: "Mobile_no"  %>
      </div>

      <div class="input-box" >
        <%= f.date_field :date_of_birth, placeholder: "Date of Birth"  %>
      </div>
    
    </div>
              
    <div class="button input-box">         
      <div class="button input-box" >
        <%= f.submit  "Create" %>
      </div>
    </div>  

</div>         
<% end %>